<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.app_stage2"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >

    <!-- Splash screen -->
    <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
                android:name="com.example.app_stage2.MainScreenActivity"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All Product Activity -->
        <activity
                android:name="com.example.app_stage2.AllProductsActivity"
                android:label="All Products" >
        </activity>

        <!-- Add Product Activity -->
        <activity
                android:name="com.example.app_stage2.NewProductActivity"
                android:label="Add New Product" >
        </activity>

        <!-- Edit Product Activity -->
        <activity
                android:name="com.example.app_stage2.EditProductActivity"
                android:label="Edit Product" >
        </activity>
    </application>

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>