<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.coderwurst.student_attendance"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
            android:configChanges="keyboardHidden|orientation"
            android:icon="@drawable/uulogo"
            android:label="@string/app_name" >

    <!-- Splash screen -->
    <activity
            android:name="com.coderwurst.student_attendance.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >

    </activity>

    <activity
                android:name="com.coderwurst.student_attendance.MainScreenActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sign-in Activity -->
        <activity
                android:name="com.coderwurst.student_attendance.SignIn"
                android:label="@string/app_name" >
        </activity>

        <!-- Register Activity -->
        <activity
                android:name="com.coderwurst.student_attendance.InitialReg"
                android:label="@string/app_name" >
        </activity>

        <!-- Lecturer UI -->
        <activity
                android:name="com.coderwurst.student_attendance.LecturerUI"
                android:label="@string/app_name" >
        </activity>

        <!-- Student UI -->
        <activity
                android:name="com.coderwurst.student_attendance.StudentUI"
                android:label="@string/app_name">
        </activity>

        <!-- Activity to add student manually -->
        <activity
                android:name="com.coderwurst.student_attendance.AddStudentMan"
                android:label="@string/app_name" >
        </activity>

        <!-- Activity to add student recursively -->
        <activity
                android:name="com.coderwurst.student_attendance.RecursiveSignIn"
                android:label="@string/app_name" >
        </activity>
    </application>

    <!--  Internet Permissions necessary to access database -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>